.lock-icon-span {
    background-color: #9c27b0;
    height: 4rem;
    width: 4rem;
}

.lock-icon {
    color: #fff;
    height: 4rem;
    width: 4rem;
}

.btn-ss {
    background-color: black;
}

.muiBtn .MuiButtonBase-root {
    background-color: black !important;
}

.muiBtn .css-i4bv87-MuiSvgIcon-root {
    height: 3rem;
    width: 2rem;
}