.lock-icon-span {
    background-color: #9c27b0;
    height: 4rem;
    width: 4rem;
}

.lock-icon {
    color: #fff;
    height: 4rem;
    width: 4rem;
}

.btn-ss {
    background-color: black;
}

.muiBtn .MuiButtonBase-root {
    background-color: black !important;
}

.muiBtn .css-i4bv87-MuiSvgIcon-root {
    height: 3rem;
    width: 2rem;
}

.circle-spin {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-spin .sc-aXZVg {
    color: black !important;
}

.circle-spin .gCGTSI {
    color: black !important;
}

.circle-spin .infinity-spin-path-2 {
    color: black !important;
}